/****** Object:  Database [FinanzasBonos]    Script Date: 26/05/2025 19:02:54 ******/
CREATE DATABASE [FinanzasBonos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanzasBonos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinanzasBonos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinanzasBonos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinanzasBonos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanzasBonos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Bono]    Script Date: 26/05/2025 19:02:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bono](
	[id_bono] [int] IDENTITY(1,1) NOT NULL,
	[valor_nominal] [decimal](15, 2) NOT NULL,
	[fecha_emision] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[id_metodo_amortizacion] [int] NOT NULL,
	[id_moneda] [int] NOT NULL,
	[id_tasa] [int] NOT NULL,
	[id_piazio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlujoCaja]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlujoCaja](
	[id_flujo] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [int] NOT NULL,
	[monto_pago] [decimal](10, 2) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[id_bono] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_flujo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoAmortizacion]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoAmortizacion](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moneda]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moneda](
	[id_moneda] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[codigo_iso] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_moneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_iso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlazoGracia]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlazoGracia](
	[id_piazio] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](10) NOT NULL,
	[duracion_meses] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_piazio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasainteres]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasainteres](
	[id_tasa] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](10) NOT NULL,
	[valor] [decimal](10, 4) NOT NULL,
	[capitalizacion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[clave_access] [varchar](255) NOT NULL,
	[roi] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valoracion]    Script Date: 26/05/2025 19:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valoracion](
	[id_valoracion] [int] IDENTITY(1,1) NOT NULL,
	[tese] [decimal](10, 2) NULL,
	[tesa] [decimal](10, 2) NULL,
	[convexidad] [decimal](10, 2) NULL,
	[duracion] [decimal](10, 2) NULL,
	[duracion_modificada] [decimal](10, 2) NULL,
	[precio_mercado] [decimal](15, 2) NULL,
	[id_usuario] [int] NOT NULL,
	[id_bono] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_valoracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bono_Fechas]    Script Date: 26/05/2025 19:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_Bono_Fechas] ON [dbo].[Bono]
(
	[fecha_emision] ASC,
	[fecha_vencimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlujoCaja_Bono]    Script Date: 26/05/2025 19:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_FlujoCaja_Bono] ON [dbo].[FlujoCaja]
(
	[id_bono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Email]    Script Date: 26/05/2025 19:02:55 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Email] ON [dbo].[Usuario]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bono]  WITH CHECK ADD  CONSTRAINT [FK_Bono_MetodoAmortizacion] FOREIGN KEY([id_metodo_amortizacion])
REFERENCES [dbo].[MetodoAmortizacion] ([id_metodo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bono] CHECK CONSTRAINT [FK_Bono_MetodoAmortizacion]
GO
ALTER TABLE [dbo].[Bono]  WITH CHECK ADD  CONSTRAINT [FK_Bono_Moneda] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[Moneda] ([id_moneda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bono] CHECK CONSTRAINT [FK_Bono_Moneda]
GO
ALTER TABLE [dbo].[Bono]  WITH CHECK ADD  CONSTRAINT [FK_Bono_PiazcoGracia] FOREIGN KEY([id_piazio])
REFERENCES [dbo].[PlazoGracia] ([id_piazio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bono] CHECK CONSTRAINT [FK_Bono_PiazcoGracia]
GO
ALTER TABLE [dbo].[Bono]  WITH CHECK ADD  CONSTRAINT [FK_Bono_TasaInteres] FOREIGN KEY([id_tasa])
REFERENCES [dbo].[Tasainteres] ([id_tasa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bono] CHECK CONSTRAINT [FK_Bono_TasaInteres]
GO
ALTER TABLE [dbo].[FlujoCaja]  WITH CHECK ADD  CONSTRAINT [FK_FlujoCaja_Bono] FOREIGN KEY([id_bono])
REFERENCES [dbo].[Bono] ([id_bono])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FlujoCaja] CHECK CONSTRAINT [FK_FlujoCaja_Bono]
GO
ALTER TABLE [dbo].[Valoracion]  WITH CHECK ADD  CONSTRAINT [FK_Valoracion_Bono] FOREIGN KEY([id_bono])
REFERENCES [dbo].[Bono] ([id_bono])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Valoracion] CHECK CONSTRAINT [FK_Valoracion_Bono]
GO
ALTER TABLE [dbo].[Valoracion]  WITH CHECK ADD  CONSTRAINT [FK_Valoracion_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Valoracion] CHECK CONSTRAINT [FK_Valoracion_Usuario]
GO
ALTER TABLE [dbo].[Bono]  WITH CHECK ADD CHECK  (([valor_nominal]>(0)))
GO
ALTER TABLE [dbo].[PlazoGracia]  WITH CHECK ADD CHECK  (([duracion_meses]>(0)))
GO
ALTER TABLE [dbo].[PlazoGracia]  WITH CHECK ADD CHECK  (([tipo]='PARCIAL' OR [tipo]='TOTAL'))
GO
ALTER TABLE [dbo].[Tasainteres]  WITH CHECK ADD CHECK  (([tipo]='MIXTA' OR [tipo]='VARIABLE' OR [tipo]='FIJA'))
GO
